.box1{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}
.box2{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.box3{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}
.flex{
    border-radius: 3px;
    width: 20%;
    height: 70%;
    background-color: pink;
    margin: 5px;
    justify-content: center;
    align-items: center;
}